


.poster{
    height: 100vh;
    background: linear-gradient(180deg,aquamarine 0%, #e1ffea22 60%) !important ;
    display: flex;

}

.left{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:20px;
    padding-left: 180px;
    line-height: 1.1;
}

.left h2{
    color: #090909;
    font-size: 25px;
    font-weight: bold;
}

.left p{
    color: #171717;
    font-size: 100px;
    font-weight: bold;
}

.hand-ican{
    display: flex;
    align-items: center;
    gap:20px;
}

.hand-ican img{
    width: 105px;
}

.latest-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:15px;
    width: 310px;
    height: 70px;
    border-radius: 75px;
    margin-top: 30px;
    background: orangered;
    color: white;
    font-weight: bold;
    font-size: 20px;
}


.right{
    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.doctor{
    height: 90%;
}