


.medicinePoster{
    height: 40vh;
    background: linear-gradient(50deg,rgb(230, 255, 255) 0%, rgb(180, 180, 255) 60%,rgb(255, 226, 231)) ;
    display: flex;
    margin-top: 30px;
    border-radius: 10px;
}

.left{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:20px;
    padding-left: 80px;
    line-height: 1.1;
}


.left p{
    color: gold;
    font-size: 50px;
    font-weight: bold;
    margin:40px;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5); /* Add a slight shadow to make text stand out */
}

.hand-ican{
    display: flex;
    align-items: center;
    gap:20px;
}

.hand-ican img{
    width: 105px;
}

.latest-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:15px;
    width: 310px;
    height: 70px;
    border-radius: 75px;
    margin-top: 30px;
    background: orangered;
    color: white;
    font-weight: bold;
    font-size: 20px;
}


.right{
    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.icon{
    position: relative;
    background-position: center;
    background-size: cover;
    top: 200;
    width: auto;
    height: 80%;
}
