

.card-medicene{
    width: 25rem;
    margin: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.3s;
    border-radius: 20px !important;
    padding: 10px;
    cursor: pointer;
    /* text-align: center; */
    background-color: white;
    color: black;
    /* font-weight: bold; */
    font-size: 20px;
    /* font-family: "Red Hat Mono", monospace; */
    
}

.card-medicene:hover{
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    transition: 0.8s;
    transform: scale(1.1);
    /* background-color:#f7ddd6 ; */
}

.imgCard{
    border-radius: 12px;
    border: 1px solid rgba(255,255,255, 0.255)
}



p{
    font-size: 25px;
    font-weight: bold;

}

span{
    font-weight: bold;
    font-size: 20px;    
}

.AddToCart{
    color: white !important;
    font-size: 20px !important;
}


.AddToCart1{
    color: white !important;
    font-size: 20px !important;
}

.AddToCart:hover{
    transform: scale(1.125);  
    border-color: rgba(255, 255, 255, 0.9);
    filter: drop-shadow(0 10px 5px rgba(0,0,0,0.125));
    transition: all .3s ease;    
}

.AddToCart1:hover{
    transform: scale(1.125);  
    border-color: rgba(255, 255, 255, 0.9);
    filter: drop-shadow(0 10px 5px rgba(0,0,0,0.125));
    transition: all .3s ease;    
}
